@charset "UTF-8";

/* にくきゅうGoTop
/*-----------------------------------*/

#goTop {
	line-height: 0;
	text-align: center;
	position:fixed;
	bottom: 20px;
	right: 50px;
	z-index: 10000;
	font-size: 3rem;
	color: #000;
	opacity: 0.7;
	cursor: pointer;
}

.gotop_text {
	font-size: 0.3em;
	font-weight: bold;
	}

/* NAV・ブックマーククリックで
/*-----------------------------------*/
nav {
	z-index: 10000;
}

#bookmark {
	cursor: pointer;
	position: relative;
	left: 230px;
	top: -30px;
	transform: rotate(17deg);
}
@media screen and (max-width:700px){
	#bookmark {
		left: 150px;
		top: -80px;
		transform: rotate(17deg);
	}
}

.js_bookmark_off {
	animation: bkm_off 1s !important;
	-webkit-animation: bkm_off 1s !important;
}
.nav_off {
	left: -200px ;
}
.js_bookmark_on {
	animation: bkm_on 1s !important;
	-webkit-animation: bkm_on 1s !important;
}
.nav_on {
	left: 0 ;
}

@keyframes bkm_off{
	0%{left: 0;}
	100%{left: -200px;}
}

@keyframes bkm_on{
	0%{left: 0;}
	100%{left: -200px;}
}

/*chrome用*/
@-webkit-keyframes bkm_off{
	0%{left: 0;}
	100%{left: -200px;}
}
@-webkit-keyframes bkm_on{
	0%{left: 0;}
	100%{left: -200px;}
}

/* NAV・400px以下のマーク
/*-----------------------------------*/

#navbutton,#cross {
	z-index: 15000;
	font-size: 2em;
	cursor: pointer;
	color: #7f673e;
	opacity: 0.8;
}
#navbutton {
	position: fixed;
	left: 12px;
	top: 8px;
}
#cross {
	position: absolute;
	left: 170px;
	top: 8px;
}
#navbutton:hover,#cross:hover{
	color: #f2e6C1;
}


/* 【コンテンツボックス】スクロールでふわっと出現
/*-----------------------------------*/
#boxA,#boxB,#boxC {
	opacity: 0;
}
.js_fadein {
	animation: box_fadein 1s;
	-webkit-animation: box_fadein 1s;
}
.js_show {
	opacity: 1;
}

@keyframes box_fadein {
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@-webkit-keyframes box_fadein {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

/* 【キャラボックス】スクロールでふわっと出現
/*-----------------------------------*/

#boxA,#boxB,#boxC {
	position: relative;
}
.js_charabox_default {
	position: relative;
	top: 50px;
	opacity: 0;
}
.js_charabox_anime {
	animation: charabox_pop 1s;
	-webkit-animation: charabox_pop 1s;
}

@keyframes charabox_pop {
	0%{
		transform: translate(0px,50px);
		opacity: 0;
	}
	100%{
		transform: translate(0px,0px);
		opacity: 1;
	}
}
@-webkit-keyframes charabox_pop {
	0%{
		transform: translate(0px,50px);
		opacity: 0;
	}
	100%{
		transform: translate(0px,0px);
		opacity: 1;
	}
}

 /* キャラコンテンツ遅延アニメ分 */
 
.js_chara_default {
	position: relative;
	top: 10px;
	opacity: 0;
}
.js_chara_anime {
	animation: chara_pop 1s;
	-webkit-animation: charabox_pop 1s;
}

@keyframes chara_pop {
	0%{
		transform: translate(0px,10px);
		opacity: 0;
	}
	100%{
		transform: translate(0px,0px);
		opacity: 1;
	}
}
@-webkit-keyframes chara_pop {
	0%{
		transform: translate(0px,10px);
		opacity: 0;
	}
	100%{
		transform: translate(0px,0px);
		opacity: 1;
	}
}


/* title雲アニメ
/*-----------------------------------*/

/*雲１*/
#cloud1 {
	position: absolute;
	z-index: 1;
	animation: cloud1 infinite;
	animation-duration: 50s;
	-webkit-animation: cloud1 infinite;
	-webkit-animation-duration: 50s;
}

@keyframes cloud1 {
	0%{left: 2000px;}
	100%{left: -500px;}
}

@-webkit-keyframes cloud1 {
	0%{left: 2000px;}
	100%{left: -500px;}
}

/*雲２*/
#cloud2 {
	position: absolute;
	z-index: 1;
	top: 200px;
	animation: cloud2 infinite;
	animation-duration: 70s;	
	-webkit-animation: cloud2 infinite;
	-webkit-animation-duration: 70s;	
}

@keyframes cloud2 {
	0%{
		left: 2000px;
	}
	100%{
		left: -500px;
	}
}
@-webkit-keyframes cloud2 {
	0%{
		left: 2000px;
	}
	100%{
		left: -500px;
	}
}

/*雲３*/
#cloud3 {
	position: absolute;
	z-index: 1;
	top: 500px;
	animation: cloud3 infinite;
	animation-duration: 70s;	
	-webkit-animation: cloud3 infinite;
	-webkit-animation-duration: 70s;	
}

@keyframes cloud3 {
	0%{
		left: 1500px;
	}
	100%{
		left: -500px;
	}
}
@-webkit-keyframes cloud3 {
	0%{
		left: 1500px;
	}
	100%{
		left: -500px;
	}
}



/* titleキャラポップ
/*-----------------------------------*/

.hide {
	display: none;
	opacity: 0;
}
.view {
	display: block;
	opacity: 1;
}

/*--左のキャラ--*/

.left_chara {
	animation: left_anime 0.5s;
	-webkit-animation: left_anime 0.5s;
}

@keyframes left_anime {
	0%{
		left: 60px;
		bottom: -7px;
		display: none;
		opacity: 0;
	}
	1%{
		left: 60px;
		bottom: -7px;
		display: block;
		opacity: 0;
	}
	100%{
		left: 30px;
		bottom: 0px;
		display: block;
		opacity: 1;
	}
}
@-webkit-keyframes left_anime {
	0%{
		left: 60px;
		bottom: -7px;
		display: none;
		opacity: 0;
	}
	1%{
		left: 60px;
		bottom: -7px;
		display: block;
		opacity: 0;
	}
	100%{
		left: 30px;
		bottom: 0px;
		display: block;
		opacity: 1;
	}
}

/*--真ん中のキャラ--*/
.mainimgbox>img:nth-child(2){
	animation: center_chara 1s;
	-webkit-animation: center_chara 1s;
}
@keyframes center_chara {
	0%{
		bottom: 10px;
	}
	100%{
		bottom: 0px;
	}
}
@-webkit-keyframes center_chara {
	0%{
		bottom: 10px;
	}
	100%{
		bottom: 0px;
	}
}


/*--右のキャラ--*/


.right_chara {
	animation: right_anime 0.5s;
	-webkit-animation: right_anime 0.5s;
}
@keyframes right_anime {
	0%{
		left: 530px;
		bottom: -7px;
		display: none;
		opacity: 0;
	}
	1%{
		left: 530px;
		bottom: -7px;
		display: block;
		opacity: 0;
	}
	100%{
		left: 560px;
		bottom: 0px;
		display: block;
		opacity: 1;
	}
}
/*chrome用*/
@-webkit-keyframes right_anime {
	0%{
		left: 530px;
		bottom: -7px;
		display: none;
		opacity: 0;
	}
	1%{
		left: 530px;
		bottom: -7px;
		display: block;
		opacity: 0;
	}
	100%{
		left: 560px;
		bottom: 0px;
		display: block;
		opacity: 1;
	}
}


/*--右のニュースボックス--*/
.slide_before {
	position: relative;
	right: -500px;
}
.slide_in {
	animation: news_box 0.5s;
	-webkit-animation: news_box 0.5s;
}
@keyframes news_box {
	0%{right: -500px;}
	100%{right: -15%;}
}
/*chrome用*/
@-webkit-keyframes news_box {
	0%{right: -500px;}
	100%{right: -15%;}
}

/*--4016年発売決定！--*/

#menu1 {
	position: relative;
}

#menu1>h2 {
	position: relative;
	top: -230px;
	transform: rotate(-6deg);
	animation: onsaleboyan 3s;
	-webkit-animation: onsaleboyan 3s;
	text-shadow: 1px 1px 3px #000;
}

@keyframes onsaleboyan {
	0%{filter: blur(30px);}
	100%{filter: blur(0px);}
}
/*chrome用*/
@-webkit-keyframes onsaleboyan {
	0%{filter: blur(30px);}
	100%{filter: blur(0px);}
}

/* Now loading
/*-----------------------------------*/

html,body {height: 100%;}
#loading {
	width: 100%;
	height: 100%;
	padding-top: 30%;
	background: tan;
	position: fixed;
	z-index: 15000;
	font-size: 4em;
	color: rgba(255,255,255,0.7);
	text-align: center;
}
