@charset "UTF-8";
/*タブレット用*/
@media screen and (max-width:700px){
/*nav*/
	nav {
		width: 300px;
		height: 100px;
		background-position: 0 100%;
		background-repeat: no-repeat;
	}
	nav ul {
		transform: none;
	}
	nav ul li {
		margin: 5px;
		font-size: 1.3em;
		float: left !important;
	}
/*******タイトル*********/
	.h1-title {
		width: 100%;
		background-size: 100% !important;
	}
/*キャラクターがふわっとしゅっと*/
	.mainimgbox {
		width: 100%;
		height: 360px;
		background-image: url("../img/pake.png");
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.mainimgbox img {
		visibility: hidden;
	}
	.newstpics img {
		visibility: visible;
	}
/*******発売日*********/	
	.sale {
		background-size: contain;
	}
	/*******小さい箱でお知らせ*********/
	.newstpics {
		width: 100%;
		top: 135%;
		left: 2%;
		margin: 0;
	}
	.newstpics ul {
		width: 31%;
		margin: 0 5px;
		padding: 0;
		float: left;
	}
	.newstpics ul li {
		margin: 5px;
	}
/******topのしたのくくってるとこ箱***********/
	.topunder {
		width: 100%;
		margin-top: 100px;
	}
	/******更新履歴と動画(画像)ソフト情報入れ***********/
	.tpibox:first-child {
		padding: 0;
	}
	.tpibox:last-child {
		margin-top: 0;	
	}
	/******phpで更新履歴のとこ***********/
	.uphistory {
		margin-left: 5px;
	}
	/*******ソフト情報の箱*********/
	.softimg {
		padding: 25px 0 0 10px;
	}
	.tpibox ul {
		margin: 10px 10px;
	}
	.topmovei:last-child {
		margin: 15px 0 7px 10%;
	}
/******STORYの中箱*******/
	.st-img {
		width:100%;
		height: 800px;
		margin: 10px;
		text-align: center;
		background-size: contain;
	}
	.st-p {
		width: 60%;
		height: 40%;
		margin-top: 200px;
		border: solid 1px #222;
	}
/******CHARACTER*******/
	.crbox {
		width: 100%;
		background-position: 10% 80%;
		margin: 0;
		}
	.cr-p {
		width: 30%;
		margin: 10px;
	}
	.cr-pvimg {
		margin: 0 10px 10px 230px;
		float: right;
	}
	/******ITEM*******/
	.item_box {
		width: 100%;
		padding: 0;
		margin: 10px auto;
	}
	.itemp:nth-child(2n+1) {
		margin-top: 10px;
		margin-left: 10px;
	}
	.itemp:nth-child(2n) {
		margin-top: 10px;
		margin-left: 10px;
	}
}

/*スマホ用*/
@media screen and (max-width:400px){
/*nav*/
	body, #container, header {
		height: 100%;
	}
	nav {
		width: 210px;
		height: 100%;
		background-image: none;
		background-color: rgba(255, 255, 255, 0.7);
	}
	nav ul {
		margin: 60px 0 40px 10px;
	}
	nav ul li {
		width: 180px;
		float: none;
		margin-bottom: 30px;
	}
	nav ul li a {
		padding-right: 5px;
	}
	#bookmark {
		display: none;
	}
/*キャラクターがふわっとしゅっと*/
	.mainimgbox {
		height: 220px;
	}
/*******発売日*********/	
	.sale {
		width: 250px;
		height: 35px;
		top: 30%;
	}
/*******小さい箱でお知らせ*********/
	.newstpics {
		width: 100%;
		top: 140%;
		left: 0;
		margin: 0;
	}
	.newstpics ul {
		margin: 2px;
	}
/******topのしたのくくってるとこ箱***********/
	.topunder {
		margin-top: 80px;
	}
	/******更新履歴と動画(画像)ソフト情報入れ***********/
	.tpibox:first-child, .tpibox:last-child {
		width: 100%;
		float: none;
	}
	.tpibox:last-child {
		height: 230px;
	}
	/******phpで更新履歴のとこ***********/
	.uphistory {
		width: 100%;
		height: 40px;
		margin: 0;
	}
	/*******更新履歴の下の動画（画像）*********/
	.topmovei img{
		width: 70%;
		margin: 0 auto;
	}
	/*******ソフト情報の箱*********/
	.softimg {
		padding: 5px;
	}
	.tpibox ul {
		margin: 50px 0 0 20px;
	}
	/******STORYの中箱*******/
	.st-p {
		margin: 0;
	}
	.st-img {
		height: 100%;
		padding: 20px;
		margin: 10px;
		background-size: 70%;
	}
	/******CHARACTER*******/
	
	.crbox {
		background-position: center 0;
		background-size: 70%;
	}
	.cr-p {
		width: 80%;
		margin: 80% 30px 10px;
	}
	.cr-pvimg {
		margin: 0 60px 10px 230px;
	}
}
