@charset "UTF-8";

nav {
	border: solid 2px #000;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
}

nav ul {
	padding: 5px 20px;
}

nav ul li{
	list-style-type: none;
	font-size: 2em;
	font-family: 'Droid Serif', serif;
	margin: 5px;
}

nav ul li a {
	text-decoration: none;
}
