@charset "UTF-8";

.clearfix:after {
	display:block;
	content:'';
	width: 100%;
	height: 0;
	clear: both;
	visibility: hidden;
}

html,body {
	box-sizing:border-box;
}

html,body,h1,h2,h3,
p,ul,li,dl,dt,dd,a {
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
	font-family: 'Droid Serif', serif;
}

p,li,dd, {
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.6
}

ul li {
	list-style-type: none;
}

p {
	display: inline-block;
}

a {
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

#bg_img {
	position: relative;
	z-index: 1;
	background: steelblue;
}

#container {
	width: 100%;
	position: relative;
	z-index: 100;
}
/*******nav*********/
nav {
	width: 300px;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("../img/nav.png");
	background-position: 95% 50%;
	background-size: cover;
}

nav ul {
	transform: rotate(-4deg);
	padding: 0 0 0 25px;
	margin: 0;
}

nav ul li{
	font-size: 2em;
	font-family: 'Droid Serif', serif;
}

/*******ヘッダー*********/
header {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

/*********ロゴらへん******/

.headrogo {
	width: 100%;
	height: 54px;
	margin: 0;
	padding: 0;
	text-align: right;
	display: block;
	background-color: blue;
}

.headrogo img {
	margin: 2px 5px;
}

/*******キャラクターがふわっとしゅっと*********/
.mainimgbox {
	width: 80%;
	height: 600px;
	margin: 10px auto 0;
	background-color: aqua;
}

/*******タイトル*********/

.h1-title {
	width: 670px;
	height: 150px;
	margin: 0 auto;
	background: url(http://placehold.jp/670x150.png) no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px #333 solid;
	/*top: 500px;
	left: calc(50% - 330px);
	height: 10%;
	margin: 0;
	font-family: 'Droid Serif', serif;
	font-size: 5em;
	text-align: center;
	left: 25%;
	bottom: -5%;*/
}
#box_height {
	height: 100px;
	position: relative;
	top: -80px;
}
.h1-title img {
	width: 670px;
	height: 150px;
}
/******発売日**********************/
.sale {
	width: 400px;
	height: 60px;
	position: absolute;
	top: 45%;
	left: 18%;
	background: green;
	z-index: 100;
}

/*******小さい箱でお知らせ*********/
.newstpics {
	margin-right: 10%;
	position: absolute;
	top: 5%;
	right: -15%;
	text-align: right;
	font-size: 0.8em;
	z-index: 102;
}

.newstpics ul {
	margin-top: 13px;
}
.newstpics ul:first-child {
	margin-top: 0px;
}

/******topのしたのくくってるとこ箱***********/
.topunder {
	width: 80%;
	margin: -10px auto 20px;
	background: pink;
}

/******更新履歴と動画(画像)ソフト情報入れ***********/
.tpibox:first-child {
	width: 65%;
	background: red;
	padding: 10px;
	float: left;
}

.tpibox:last-child {
	width: 32%;
	margin-top: 20px;
	float: right;
	background: aqua;	
}

/******phpで更新履歴のとこ***********/
.uphistory {
	width: 100%;
	height: 70px;
	background-color: rgba(124, 207, 255,0.5);
}

/*******更新履歴の下の動画（画像）*********/
.topmovei {
	margin: 5px;
}

/*******ソフト情報の箱*********/
.softimg {
	padding: 10px 0;
}

.softimg,.tpibox ul {
	float: left;
}

.tpibox ul {
	margin: 55px 10px;
}
/******メイン全体を入れてる箱*******/
.maincontent {
	width: 100%;
	background-color: gold;
	margin: 0 auto;
}

/*.maininner {
	height: 500px;
}*/
/******STORY*********************/
/******STORYの外箱*******/
.maininner {
	width: 100%;
/*	height: 900px;*/
}

/******STORYの中箱*******/
.st-img {
	width:100%%;
	height: 800px;
	margin: 10px;
	background-image: url("../img/storyimg01.png");
	background-repeat: no-repeat;
	background-position: 20% center;
}

.st-p {
	width: 30%;
	height: 50%;
	margin: 30px;
	border: solid 1px #222;
	display: inline-block;
	float:right;
}

/******CHARACTER*******/
.maininner:nth-child(2) {
	background-color: orange;
}

.crbox {
	width: 80%;
	height: 550px;
	margin: 20px 12%;
	padding: 0;
	border: solid 1px #444;
	display: inline-block;
	background-image: url("http://placehold.jp/300x400.png");
	background-repeat: no-repeat;
	background-position: center;
}

.crbox h3 {
	font-size: 2em;
	margin: 10px;
}

.cname-h:nth-child(2){
	color: red;
}

.cr-p {
	width: 220px;
	height: 300px;
	padding: 6px;
	border: solid 1px #333;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	position: relative;
	left: 70%;
	top: 25%;
}

.cr-pvimg {
	border: solid 2px #1D2E82;
	position: relative;
	right: 20%;
	top: 5%;
}

/******ITEM*******/
.maininner:nth-child(3) {
	padding-bottom: 20px;
	background-color: blue;
}
.item_box {
	width: calc((334px * 2) + 80px);
	margin-left: 30%;	
}
.itemp {
	width: 330px;
	height: 300px;
	border: solid 1px #555;
	display: inline-block;
	float: left;
}
.itemp:nth-child(2n+1) {
	margin-top: 30px;
}
.itemp:nth-child(2n) {
	margin-top: 30px;
	margin-left: 80px;
}
.itemp img {
	margin: 3px;
}
/*********フッター************/
footer {
	width: 100%;
	background: gold;
	padding: 10px;
	text-align: center;
}

.f-icon {
	width: 300px;
	margin: 10px auto;
}
.f-icon img {
	width: 50px;
	height: 50px;
}
.f-icon a {
	margin: 0 calc( 30% / 4 );
}

.copyright {
	display: inline;
	font-size: small;
}