@charset "UTF-8";

.clearfix:after {
	display:block;
	content:'';
	width: 100%;
	height: 0;
	clear: both;
	visibility: hidden;
}

html,body {
	box-sizing:border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#bg_img {
	position: relative;
	z-index: 1;
	background: steelblue;


}

#container {
	width: 100%;
	position: relative;
	z-index: 100;
}
/*******nav*********/
nav {
	border: solid 2px #000;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
}

nav ul {
	padding: 5px 20px;
}

nav ul li{
	list-style-type: none;
	font-size: 2em;
	font-family: 'Droid Serif', serif;
	margin: 5px;
}

nav ul li a {
	text-decoration: none;
}

/*******ヘッダー*********/
header {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

/*********ロゴらへん******/

.headrogo {
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	text-align: right;
	display: block;
	background-color: blue;
}

.headrogo img {
	margin: 10px;
}

/*******キャラクターがふわっとしゅっと*********/
.mainimgbox {
	width: 1000px;
	height: 500px;
	padding: 0;
	margin: 10px auto 0;
}

/*******タイトル*********/

.h1-title {
	width: 670px;
	height: 150px;
	margin: 0 auto;
	background: url(http://placehold.jp/670x150.png) no-repeat;
	background-size: cover;
	background-position: center;
	/*top: 500px;
	left: calc(50% - 330px);
	height: 10%;
	margin: 0;
	font-family: 'Droid Serif', serif;
	font-size: 5em;
	text-align: center;
	left: 25%;
	bottom: -5%;*/
}
#box_height {
	height: 150px;
	position: relative;
	top: -50px;
}
.h1-title img {
	width: 670px;
	height: 150px;
}

/*******フロートさしてるおしらせｂｏｘ*********/
.topc2 {
	width: 200px;
	border: solid 1px #333;
	padding: 10px;
	margin: 30px;
	background-color: #fff;
	float: left;
}

/******phpで更新履歴のとこ***********/
.uphistory {
	height: 50px;
	margin: 0;
	text-align: center;
	background-color: rgba(124, 207, 255,0.5);
}

.uphistory dl {
	margin: 0;
	padding: 0;
}

.uphistory dl dd{
	margin: 0;
}

/******メイン全体を入れてる箱*******/
.maincontent {
	width: 100%;
	background-color: gold;
	margin: 0 auto;
}

/*.maininner {
	height: 500px;
}*/
/******STORY*********************/
/******STORYの外箱*******/
.maininner {
	width: 100%;
/*	height: 900px;*/
}

/******STORYの中箱*******/
.st-img {
	width:100%%;
	height: 800px;
	margin: 10px;
	background-image: url("../img/storyimg01.png");
	background-repeat: no-repeat;
	background-position: 20% center;
}

.st-p {
	width: 30%;
	height: 50%;
	margin: 30px;
	border: solid 1px #222;
	display: inline-block;
	float:right;
}

/******CHARACTER*******/
.maininner:nth-child(2) {
	background-color: orange;
}

.crp {
	width: 50%;
	height: 500px;
	margin: 20px 25%;
	padding: 0;
	border: solid 1px #444;
	display: inline-block;
}

/******ITEM*******/
.maininner:nth-child(3) {
	background-color: blue;
}

.itemp {
	width: 330px;
	height: 300px;
	margin: 30px 70px ;
	border: solid 1px #555;
	display: inline-block;
	float: left;
}

.itemp img {
	margin: 3px;
}
/*********フッター************/
footer {
	width: 100%;
	background: gold;
	padding: 10px;
}

.copyright {
	font-size: small;
	text-align: center;
}