@charset"UTF-8";

.clerafix:after {
	display:block;
	content:'';
	width: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

* {
	box-sizing:border-box;
}

body {
	margin: 0;
	padding: 0;
}

#container {
	width: 100%;
}

header {
	width: 100%;
	height: 700px;
	margin: 0;
	background: pink;
	padding-top: 480px;
}

h1 {
	width: 80%;
	/*font-family: 'Droid Serif', serif;*/
	background-size: cover;
	background: url(./placeimg_640_130_nature.jpg) green no-repeat;
	background-size: cover;
	margin: 0 auto;

}

.box {
	width: 96%;
	height: 400px;
	margin: 30px auto 0;
	border-radius: 10px;
}
.box_a {background: tan;}
.box_b {background: gold;}
.box_c {background: coral;}

.maincontent {
	width: 100%;
	background-color: gold;
	margin: 0 auto;
	overflow: auto;
}

.maininner {
	width: 100%;
	height: 700px;
	background-color: red;
	padding: 20px;
}



footer {
	width: 100%;
	height: 200px;
	background: gold;
}